* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center {
  margin-top: 30px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  max-width: 1140px;
}
.goods {
  margin-top: 15px;
}
.ligth {
  color: rgb(2, 2, 2);
  background-color: white;
}

.darck {
  color: rgb(238, 238, 238);
  background-color: rgb(53, 50, 50);
}
